
.icon-concentrado:before { content: '\e801'; } /* '' */
.icon-cegado:before { content: '\e802'; } /* '' */
.icon-aturdido:before { content: '\e803'; } /* '' */
.icon-ardiendo:before { content: '\e804'; } /* '' */
.icon-oculto:before { content: '\e805'; } /* '' */
.icon-marcado:before { content: '\e806'; } /* '' */
.icon-inmovilizado:before { content: '\e807'; } /* '' */
.icon-inconsciente:before { content: '\e808'; } /* '' */
.icon-casco:before { content: '\e80a'; } /* '' */
.icon-bloqueo:before { content: '\e80b'; } /* '' */
.icon-escudo:before { content: '\e80c'; } /* '' */
.icon-defensa:before { content: '\e80d'; } /* '' */
.icon-daño:before { content: '\e80e'; } /* '' */
.icon-equipo:before { content: '\e80f'; } /* '' */
.icon-especial:before { content: '\e811'; } /* '' */
.icon-agro:before { content: '\e812'; } /* '' */
.icon-exito:before { content: '\e813'; } /* '' */
.icon-herida:before { content: '\e814'; } /* '' */
.icon-mano:before { content: '\e815'; } /* '' */
.icon-pecho:before { content: '\e816'; } /* '' */
.icon-refuerzo:before { content: '\e817'; } /* '' */
.icon-salud:before { content: '\e818'; } /* '' */
.icon-software:before { content: '\e819'; } /* '' */
.icon-velocidad:before { content: '\e81a'; } /* '' */
