.App{
    width: 92vw;
    height: 76vh;
    margin-left: 4vw;
    background-color: rgba(255, 255, 255, 0);
    border-color: #707070;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.glass{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.titliFullName{
    font-size: 2vw;
    margin-left: 13vw;
    width: 74vw;
    height: 9vh;
    text-transform: capitalize;
    text-align: center;
    padding-top: 0.5vh;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100% );
    box-shadow: 5px 20px 18px #888888;
    color: rgb(255, 255, 255);
}

.konvajs-content{
    margin-left: 10%;
}

.type{
    position: absolute;
    left: 45vw;
    font-size: 1.6vw;
    border-radius: 10px 10px 0 0;
}

.topButtonDiv{
    margin-top: 2vh;
    margin-left: 4vw;
}

.deacticated{
    background: rgba(255, 255, 255, 0.5);
    color: rgb(4, 4, 4);
}

.active{
    background: rgba(62, 54, 54, 0.85);
    color: rgb(255, 255, 255);
}

.topButton{
    font-size: 1.6vw;
}

.line{
    display: flex;
}