.triangle{
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.invertedTriangle{
    clip-path: polygon(100% 100%, 0 100%, 50% 0);
}

.stateCharacter{
    width: 7vW;
    height: 7vW;
}

.ardiendo{
    position: absolute;
    top: 6.7vw;
    left: 42vw;
}

.ardiendoSpan{
    /*background: linear-gradient(rgb(238, 43, 43), rgb(223, 121, 43));
    filter: blur(30px) opacity(0.5);*/
    filter: drop-shadow(-1px 6px 3px rgba(238, 43, 43, 0.5));
}

.ardiendo.stateActive{
    background: linear-gradient(rgba(238, 43, 43, 1), rgba(223, 121, 43, 1));
}

.ardiendo.stateDeactivated{
    background: linear-gradient(rgba(238, 43, 43, 1), rgba(223, 121, 43, 1));
}

.aturdido.stateDeactivated{
    background: linear-gradient(rgba(142, 76, 0, 0.5), rgba(142, 76, 0, 0.5));
    position: relative;
    top: 13vh;
    left: 12.5vw;
}

.aturdido.stateActive{
    background: linear-gradient(rgba(142, 76, 0, 1), rgba(142, 76, 0, 1));
    position: relative;
    top: 13vh;
    left: 12.5vw;
}

.cegado.stateDeactivated{
    background: linear-gradient(rgba(33, 185, 48, 0.5), rgba(96, 135, 17, 0.5));
    position: relative;
    top: 26.5vh;
    left: -12.5vw;
}

.cegado.stateActive{
    background: linear-gradient(rgba(33, 185, 48, 1), rgba(96, 135, 17, 1));
    position: relative;
    top: 26.5vh;
    left: -12.5vw;
}

.marcado{
    position: absolute;
    top: 6.7vw;
    left: 45.4vw;
}

.marcadoSpan{
    background: linear-gradient(rgb(249, 21, 45), rgb(239, 15, 239));
    filter: blur(30px) opacity(0.5);
}

.stateDeactivated{
    backdrop-filter: opacity(0.8) brightness(1.5);
}

.marcado.stateActive{
    background: linear-gradient(rgba(249, 21, 45, 0.5), rgba(239, 15, 239, 0.5));
}

.concentrado.stateDeactivated{
    background: linear-gradient(rgba(233, 233, 42, 0.5), rgba(210, 179, 26, 0.5));
    position: relative;
    top: 26.6vh;
    left: -8.8vw;
}

.concentrado.stateActive{
    background: linear-gradient(rgba(233, 233, 42, 1), rgba(210, 179, 26, 1));
    position: relative;
    top: 26.6vh;
    left: -8.8vw;
}

.inmovilizado.stateDeactivated{
    background: linear-gradient(rgba(52, 186, 225, 0.5), rgba(26, 47, 128, 0.5));
    position: relative;
    top: 26.5vh;
    left: -16.1vw;
}

.inmovilizado.stateActive{
    background: linear-gradient(rgba(52, 186, 225, 0.5), rgba(26, 47, 128, 1));
    position: relative;
    top: 26.5vh;
    left: -16.1vw;
}

.triangle i{
    position: relative;
    top: 22%;
    left: 30%;
    font-size: 2em;
    color: #FFF;
}

.invertedTriangle i{
    position: relative;
    top: 50%;
    left: 30%;
    font-size: 2em;
    color: #FFF;
}