body{
  background: linear-gradient(200deg, #91A08C, #B9AE82, #BE914E, #BE924F, #806244);
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans';
}
button, div {
  font-family: 'Open Sans';
}

i{
  font-style: normal;
}

.loading{
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoLoading{
  width: 77vw;
}

.containerCircleLoading{
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
}

.circleLoading{
  animation-name: logoLoadTransition;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logoLoadTransition {
  from {transform: rotateZ(360deg);}
  to {transform: rotateZ(0deg);}
}