body{
  background: linear-gradient(200deg, #91A08C, #B9AE82, #BE914E, #BE924F, #806244);
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans';
}

.expansionButtonContainer{
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

button, div {
  font-family: 'Open Sans';
}

i{
  font-style: normal;
}

.loading{
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoLoading{
  width: 77vw;
}

.containerCircleLoading{
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
}

.circleLoading{
  animation-name: logoLoadTransition;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logoLoadTransition {
  from {transform: rotateZ(360deg);}
  to {transform: rotateZ(0deg);}
}

.expansionButton{
  width: 34vw;
  height: 80vh;
  opacity: 0.65;
  cursor: pointer;
  transition: clip-path 1s;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50% );
}

.expansionButton:hover{
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50% );
}

.expansionImg{
  width: 100%;
  max-height: 100%;
}

.expansionButton div{
  position: relative;
  top: -14%;
  left: 0;
  text-align: center;
  font-size: 3.1vw;
  color: rgb(240, 240, 240)
}

.characterdivContainer{
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.characterButton{
  width: 15vw;
  height: 75vh;
  opacity: 0.65;
  cursor: pointer;
  margin-top: 4vh;
  color: rgb(240, 240, 240);
  text-transform: uppercase;
  transition: clip-path 1s;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0 );
}

.characterButton:hover{
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.characterButton img{
  height: 100%;
}

.characterButton div{
  position: relative;
  text-align: center;
  top: -53%;
  left: 0;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

@media screen and ( max-width: 1000px) {
  .expansionButton{
    opacity: 1;
  }
  .characterButton{
    width: 100vw;
    height: 17vh;
    opacity: 1;
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
  }
  
  .characterButton:hover{
    opacity: 1;
  }
  
  .characterButton img{
    max-height: 100%;
    width: 9vw;
  }
  
  .characterButton div{
    text-align: center;
    color: rgb(240, 240, 240);
    width: 95vw;
    text-transform: uppercase;
    font-size: 5vw;
  }
}