.Inventory .character{
    animation-name: imgLeftTransition;
    animation-duration: 1.6s;
    left: 25vw;
    position: absolute;
    margin-left: 0;
}

@keyframes imgLeftTransition {
    from {left: 5vw;}
    to {left: 25vw;}
}
@keyframes hexagonFormTransition {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes hexagonTypeFormTransition {
    from {opacity: 0;}
    to {opacity: 0.6;}
}

.software{
    width: 22vw;
    height: 36vw;
    position: absolute;
    left: 64vw;
    top: 5vh;
}

.softwareTitle{
    position: absolute;
    left: 72.5vw;
    top: 0.4vh;
    font-size: 1.2vw;
    color: rgb(240, 240, 240);
    padding: 1vh;
    border-radius: 6px 6px 0 0;
}

.hexagon.slot{
    height: 12vh;
    width: 12vh;
    position: absolute;
    animation-name: hexagonFormTransition;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    opacity: 0;
}
.hexagon.slotType{
    height: 9vh;
    width: 16vh;
    position: absolute;
    animation-name: hexagonTypeFormTransition;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    opacity: 0;
}

.slot.type1:first-of-type{
    top: 31vh;
    left: 15vw;
    animation-delay: 1.9s;
}

.slotType.type1:nth-of-type(2){
    top: 33vh;
    left: 17vw;
    animation-delay: 2s;
}

.slot.type1{
    top: 31vh;
    left: 48vw;
    animation-delay: 1.9s;
}

.slotType.type1{
    top: 33vh;
    left: 44vw;
    animation-delay: 2s;
}

.slot.type3{
    top: 1vh;
    left: 48vw;
    animation-delay: 1.6s;
}
.slotType.type3{
    top: 3vh;
    left: 44vw;
    animation-delay: 1.7s;
}

.slot.type4{
    top: 16vh;
    left: 15vw;
    animation-delay: 1.6s;
}
.slotType.type4{
    left: 17vw;
    top: 9vw;
    animation-delay: 1.7s;
}

.slot.type6:nth-of-type(9){
    top: 46vh;
    left: 15vw;
    animation-delay: 2.1s;
}

.slotType.type6:nth-of-type(10){
    top: 48vh;
    left: 17vw;
    animation-delay: 2.2s;
}

.slot.type6:nth-of-type(11){
    top: 46vh;
    left: 48vw;
    animation-delay: 2.1s;
}
.slotType.type6:nth-of-type(12){
    top: 48vh;
    left: 44vw;
    animation-delay: 2.2s;
}

.slot.type6:nth-of-type(13){
    top: 61vh;
    left: 15vw;
    animation-delay: 2.3s;
}
.slotType.type6:nth-of-type(14){
    top: 63vh;
    left: 17vw;
    animation-delay: 2.4s;
}

.slot.type6:nth-of-type(15){
    top: 61vh;
    left: 48vw;
    animation-delay: 2.3s;
}